@font-face {
  font-family: "Wahran";
  src: url("./fonts/noto.ttf");
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
  font-size: 21px;
  font-weight: bold;
  font-family: "Wahran", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  direction: rtl;
  user-select: none;
}

body {
  background-image: url("./images/bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#quiz-container{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 90%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#intro{
  font-size: 1.6rem;
  text-align: center;
  line-height: 140%;
}

#intro span{
  font-size: 1.6rem;
  color: white;
}

#question {
  font-size: 1.8rem;
}

.answers,
.controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

.answers {
  height: 50%;
}

button {
  cursor: pointer;
  width: 75%;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

.answer-button {
  height: 20%;
  padding-right: 2.5%;
  color: black;
  background-color: white;
  border: 1px black solid;
  border-radius: 25px;
}

.answer-button:hover {
  background-color: lightblue;
  transform: scale(1.05);
}

.controls {
  height: 15%;
}

.next,
#start {
  background-color: #f19215;
  padding: 2% 0;
  width: 50%;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 1.3rem;
}

.next:hover,
#start:hover {
  filter: brightness(110%);
  transform: scale(1.05);
  box-shadow: 0 10px 20px -4px #f19215;
}

.next{
    max-width: 300px;
    height: 100%;
}

.disabled-option, .disabled-option:hover{
  transition-duration: 100ms;
  color: black;
  filter:brightness(90%);
  transform: scale(0.8);
  background-color: lightgray;
  cursor: default;
}

.selected-option, .selected-option:hover{
  color: white;
  transition-duration: 0;
  filter: none;
  transform: scale(1.1);
}

.wrong,.wrong:hover{
  background-color: rgb(249, 41, 41);
  animation: error 400ms linear;
}

.correct,.correct:hover{
  background-color:#6ff06f;
}

.green-backgorund, .green-backgorund:hover{
  background-color: rgb(7, 179, 7);
}

.disabled, .disabled:hover {
  filter: opacity(0.5);
  cursor:not-allowed ;
  transform: none;
  box-shadow: none;
}

@keyframes error {
  0%   {transform: translateX(2%);}
  20%  {transform: translateX(-2%);}
  40%  {transform: translateX(2%);}
  60%  {transform: translateX(-2%);}
  80%  {transform: translateX(2%);}
  100%  {transform: translateX(0%);}
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 17px;
  }

  body{
    height: 90vh;
  }

  #quiz-container{
    width: 95%;
    height: 80%;
  }

  #question{
    font-size: 1.6rem;
  }

  #answers{
    height:40%;
  }
  .answer-button{
    width: 78%;
    border-width: 3px;
    height: 25%;
    font-size: 1.3rem;
  }
  .controls{
    height: 15%;
  }

  #start{
    font-size: 1.8rem;
    height: 15%;
    width: 80%;
  }

  .next{
    height: 100%;
    width: 90%;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 350px) {
  * {
    font-size: 14px;
  }

  #quiz-container{
    height: 90%;
  }
}
