@font-face {
  font-family: "Wahran";
  src: url("./ArbFONTS-Wahran-Light.otf");
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  font-family: "Wahran", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  direction: rtl;
  user-select: none;
}

body {
  background-image: url("./national.jfif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}
body,
#quiz-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#quiz-container {
  padding: 2% 2%;
  justify-content: space-between;
  background-color: white;
  height: 65%;
  width: 50%;
  max-width: 500px;
  border: 2px solid green;
  border-radius: 10px;
}

.quiz-container-questions{
  height: 80% !important;
}

#intro{
  font-size: 1.3rem;
  text-align: center;
}

#intro span{
  font-size: 1.3rem;
  color: green;
}

#question {
  font-size: 1.7rem;
}

.answers,
.controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
}

.answers {
  margin-top: 1%;
  height: 65%;
}

button {
  cursor: pointer;
  width: 90%;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

.answer-button {
  height: 15%;
  margin-top: 2%;
  padding-right: 2.5%;
  color: black;
  background-color: white;
  border: 1px black solid;
  border-radius: 25px;
  font-size: 1.2rem;
}

.answer-button:hover {
  background-color: lightblue;
  transform: scale(1.05);
}

.controls {
  height: 12%;
}

.next,
#start {
  background-color: #5bb318;
  padding: 2% 0;
  width: 60%;
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 1.5rem;
}

.next:hover,
#start:hover {
  filter: brightness(110%);
  transform: scale(1.05);
  box-shadow: 0 10px 20px -4px #7dce13;
}

.next{
    max-width: 300px;
    height: 100%;
}

.disabled-option, .disabled-option:hover{
  transition-duration: 100ms;
  color: black;
  filter:brightness(90%);
  transform: scale(0.9);
  background-color: lightgray;
  cursor: default;
}

.selected-option, .selected-option:hover{
  color: white;
  transition-duration: 0;
  filter: none;
  transform: scale(1.15);
}

.wrong,.wrong:hover{
  background-color: red;
  animation: error 400ms linear;
}

.correct,.correct:hover{
  background-color:#6ff06f;
}

.green-backgorund, .green-backgorund:hover{
  background-color: green;
}

.disabled, .disabled:hover {
  filter: opacity(0.5);
  cursor:not-allowed ;
  transform: none;
  box-shadow: none;
}

@keyframes error {
  0%   {transform: translateX(2%);}
  20%  {transform: translateX(-2%);}
  40%  {transform: translateX(2%);}
  60%  {transform: translateX(-2%);}
  80%  {transform: translateX(2%);}
  100%  {transform: translateX(0%);}
}

@media only screen and (max-width: 650px) {
  * {
    font-size: 21px;
  }

  body{
    height: 90vh;
  }

  #quiz-container{
    justify-content: space-around;
    width: 95%;
    height: 70%;
  }

  #answers{
    height:60%;
  }
  .answer-button{
    width: 90%;
    border-width: 3px;
    height: 18%;
    font-size: 1.2rem;
  }
  .controls{
    height: 20%;
  }

  #start{
    font-size: 1.8rem;
    height: 15%;
    width: 80%;
  }

  .next{
    height: 80%;
    margin: 0;
    width: 80%;
    font-size: 1.8rem;
  }
}
