@font-face {
  font-family: "Wahran";
  src: url("./fonts/noto.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-size: 21px;
  font-weight: bold;
  font-family: "Wahran", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  direction: rtl;
  user-select: none;
}

body {
  background-image: url("./images/bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  padding-top: 2.5%;
  width: 100%;
}
#header a {
  width: 100%;
}

#uqu-logo {
  width: 25%;
  cursor: pointer;
}

#quiz-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#intro {
  font-size: 1.6rem;
  text-align: center;
  line-height: 140%;
}

#intro span {
  font-size: 1.6rem;
  color: white;
}

#question {
  font-size: 1.6rem;
}

.answers,
.controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.answers {
  height: 45%;
}

button {
  cursor: pointer;
  width: 75%;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

.answer-button {
  height: 20%;
  padding-right: 2.5%;
  color: black;
  background-color: white;
  border: 1px black solid;
  border-radius: 25px;
}

.answer-button:hover {
  background-color: lightblue;
  transform: scale(1.05);
}

.controls {
  justify-content: center;
}

.next,
#start {
  background-color: #f19215;
  /* padding: 2% 0; */
  width: 60%;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 1.3rem;
}

.next:hover,
#start:hover {
  filter: brightness(110%);
  transform: scale(1.05);
  box-shadow: 0 10px 20px -4px #f19215;
}

.next {
  max-width: 300px;
  height: 100%;
}

.disabled-option,
.disabled-option:hover {
  transition-duration: 100ms;
  color: black;
  filter: brightness(90%);
  transform: scale(0.8);
  background-color: lightgray;
  cursor: default;
}

.selected-option,
.selected-option:hover {
  color: white;
  transition-duration: 0;
  filter: none;
  transform: scale(1.1);
}

.wrong,
.wrong:hover {
  background-color: rgb(249, 41, 41);
  animation: error 400ms linear;
}

.correct,
.correct:hover {
  background-color: #6ff06f;
}

.green-backgorund,
.green-backgorund:hover {
  background-color: rgb(7, 179, 7);
}

.disabled,
.disabled:hover {
  filter: opacity(0.5);
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

#twitter-btn {
  text-decoration: none;
  background-color: #1d9bf0;
  color: white;
  border-radius: 50px;
  display: inline-block;
  width: 40%;
  min-width: 200px;
  padding: 0.1%;
}

#outro{
  font-size: 1.6rem;
  text-align: center;
  line-height: 180%;
}

#credit{
  font-size: 0.6rem;
}

#credit-btn{
  font-size: 0.5rem;
  margin-top: 8px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  border-radius: 50px;
  display: inline-block;
  border: 2px solid;
  width: 40%;
  min-width: 120px;
  padding: 1% 0;
  transition: 300ms ease-out;
}

#credit-btn:hover{
  background-color: #1d9bf0;
  border: 2px solid #1d9bf0;
}

#twitter-logo{
  width: 0.6rem;
}

@keyframes error {
  0% {
    transform: translateX(2%);
  }
  20% {
    transform: translateX(-2%);
  }
  40% {
    transform: translateX(2%);
  }
  60% {
    transform: translateX(-2%);
  }
  80% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 800px) {
  * {
    font-size: 20px;
  }

  #quiz-container {
    width: 60%;
  }

  #answers{
    height: 55%;
  }

  #uqu-logo {
    width: 35%;
  }

  #intro {
    font-size: 1.3rem;
  }
  #intro span {
    font-size: 1.1rem;
  }
  #question {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 20px;
  }
  body {
    height: 90vh;
  }

  #header {
    padding-top: 4%;
  }
  #uqu-logo {
    width: 45%;
  }

  #quiz-container {
    width: 85%;
  }
  #intro {
    font-size: 1.2rem;
  }

  #intro {
    font-size: 1.2rem;
  }
  
  #intro span {
    font-size: 1.2rem;
  }

  #question {
    font-size: 1.3rem;
  }

  #answers {
    height: 45%;
  }
  .answer-button {
    width: 78%;
    border-width: 3px;
    height: 25%;
    font-size: 0.8rem;
  }
  .controls {
    height: 25%;
  }

  #start {
    font-size: 1.5rem;
    padding: 0.3%;
    width: 65%;
  }

  .next {
    height: 75%;
    width: 60%;
    font-size: 1.5rem;
  }

  #outro{
    font-size: 1.2rem;
  }
  #credit{
    font-size: 0.8rem;
  }
  #credit-btn{
    min-width: 170px;
    font-size: 0.8rem;
  }
  #twitter-logo{
    width: 0.8rem;
  }
  
}
@media only screen and (max-width: 450px) {
  * {
    font-size: 21px;
  }

  #intro {
    font-size: 1.1rem;
  }
  
  #intro span {
    font-size: 1.1rem;
  }

  #question {
    font-size: 1.1rem;
  }
  .answer-button {
    height: 26%;
    font-size: 1rem;
  }

  .controls {
    height: 18%;
  }

  .next {
    height: 70%;
    width: 90%;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 350px) {
  * {
    font-size: 20px;
  }

  #intro {
    font-size: 1rem;
  }
  
  #intro span {
    font-size: 1rem;
  }

  #question {
    font-size: 1.1rem;
  }
  .answer-button {
    font-size: 0.8rem;
  }

  .controls {
    height: 22%;
  }

  .next {
    font-size: 1.2rem;
  }
}
